@inherits LayoutComponentBase
@inject IAuthenticationService Auth
@inject NavigationManager Navi

<div class="page">
    @* <div class="sidebar">
            <NavMenu />
        </div> *@
    @if (LoggedIn)
    {
        <div class="main">
            <div class="top-row px-4">

                <span style="margin: 30px; " class="badge badge-secondary">Hi! @firstName</span>
                <button @onclick="Logout" href="Signin" type="button" class="btn btn-outline-secondary">Logout</button>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    }
    else
    {
        Navi.NavigateTo("signin");
    }
</div>

@code {
    private string firstName;
    public bool LoggedIn
    {
        get { return Auth.User != null; }
    }
    protected override async Task OnInitializedAsync()
    {
        if (LoggedIn)
            firstName = Auth.User.FirstName;
    }
    public async Task Logout()
    {
        await Auth.Logout();
    }

}